h1{
    text-align: center;
    font-size: 35px;
    color: rgb(25, 24, 226); 
    
}
 body{ background-color: rgb(225, 54, 90);

 }
 .personagem{
  width: 50%;
  height: 55%;
 }
 .cabecalho{
   border-style: groove;
border-color: aquamarine;
 }
 
 .button{
    display: inline-block;
    padding: 10px 20px;
 }
 .button{
    display: inline-block;
    padding: 10px 20px;
 }
 .personagem{
    width: 55%;
    height: 30%;
   }